.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--clr-grad);
    padding: 1rem;
    position: absolute;
    bottom: 0;
}

.footer__logo {
    height: 0.75rem;
}

.footer__pattern {
    display: none;
}

.footer_socials_wrapper {
    display: flex;
    gap: 1.5rem;
}

.footer_socials_wrapper li {
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
}

.footer_socials_wrapper li:hover {
    transform: scale(1.2);
}

.footer_social img {
    height: 1.25rem;
}
