.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--fs-xs);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo,
.menu-toggle {
    transition: transform 0.2s ease;
}

.logo img {
    height: 0.8rem;
}

.menu-toggle {
    border: none;
    background: none;
    flex-shrink: 0;
}

.menu-toggle img {
    height: 2rem;
}

.logo:hover,
.menu-toggle:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.1);
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__links {
    display: none;
}

/* TODO: Add delayed reveal animation */
.nav__link {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-menu:hover .nav__link {
    opacity: 1;
    transform: translateX(0);
}

.nav__link:nth-child(1) {
    animation-delay: 0s;
}
.nav__link:nth-child(2) {
    animation-delay: 0.2s;
}
.nav__link:nth-child(3) {
    animation-delay: 0.4s;
}

/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(10px);
    }
}
