.home,
.home__directors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 700;
}

.home {
    align-items: center;
}

.home__container {
    z-index: 2;
}

.home__title {
    font-size: var(--fs-xl);
    letter-spacing: 6px;
    color: var(--clr-dark-orange);
    transition: opacity 0.5s ease-in-out;
}

.home__directors {
    text-align: left;
    margin-top: 1.5rem;
    font-size: var(--fs-sm);
    letter-spacing: 4px;
    color: var(--clr-slate-400);
}

.home__director {
    opacity: 0.5;
    width: fit-content;
    transition: all 0.3s ease;
}

.home__director a {
    padding: 0.5rem 0;
}

.home__director:hover {
    opacity: 1;
    color: var(--clr-light-orange);
    transform: scale(1.1);
}
