.reps__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem;
    justify-items: center;
}

.reps__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.reps__section__image,
.team__star-decoration {
    height: 1rem;
    margin-inline: auto;
}

.reps__region,
.reps__section__title,
.reps__company {
    text-transform: uppercase;
}

.reps__region,
.reps__section__title {
    color: var(--clr-light-orange);
    font-weight: 700;
}

.reps__section__title {
    font-size: var(--fs-base);
    letter-spacing: 3px;
}

.reps__region,
.reps__phone,
.reps__company,
.reps__name,
.reps__email {
    font-size: var(--fs-xs);
}

.reps__email {
    font-size: var(--fs-xxs);
    font-style: italic;
    transition: color 0.5s ease;
    display: block;
}

.reps__email:hover {
    color: var(--clr-light-orange);
}
